<mat-toolbar color="primary">
  <button
    mat-button
    aria-label="Example icon-button with menu icon"
    type="button"
    (click)="drawer.toggle()"
  >
    <mat-icon>menu</mat-icon>
    Menu
  </button>
  <span>{{ navName | titlecase }}</span>

  <span class="example-spacer"></span>
  <button
    mat-raised-button
    color="accent"
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="home"
    (click)="home()"
    *ngIf="showHome == true"
  >
    <mat-icon>home</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer #drawer color="accent" class="example-sidenav" mode="push">
    <div class="row">
      <button
        mat-button
        routerLink="home/projects"
        class="buttonclass"
        (click)="portfolio()"
      >
        <mat-icon>work_outline</mat-icon> Projects
      </button>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
