.example-header-image {
  background-image: url("/assets/utypaslbyxwfuwhfdzxd.png");
  background-size: cover;
}
.display-1 {
  color: rgb(255, 183, 195);
  font-size: 3em;
  text-align: center;
}
mat-tab-group {
  background-color: transparent;
  color: rgb(255, 253, 253);
  width: 100%;
  box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.207);
}
.mat-tab {
  background-color: rgb(163, 144, 144);
}
.jumbotron {
  box-shadow: 2px 2px 2px 2px rgba(119, 115, 115, 0.604);
  background: black url("/assets/coding.jpg");
  color: white;
  background-size: cover;
  font-weight: 300;
}
mat-card{
  background: url('/assets/cardBack.jpg');
  color: white;
}
.card-edu,mat-card-subtitle,mat-list-item,.list{
 color: white;
}
