.example-header-image {
  background-image: url("/assets/utypaslbyxwfuwhfdzxd.png");
  background-size: cover;
}
.display-1 {
  color: rgb(255, 183, 195);
  font-size: 3em;
  text-align: center;
}
mat-tab-group {
  color: rgb(255, 253, 253);
  width: 100%;
  box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.802);
}
.mat-tab {
  background-color: rgb(163, 144, 144);
}
.jumbotron {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.604);
  background: #444 url("/assets/coding.jpg");
  background-blend-mode: multiply;
  color: white;
  background-size: cover;
  font-weight: 300;
}
mat-card {
  background: rgb(87, 89, 87) url("/assets/cardBack.jpg");
  background-blend-mode: multiply;
  color: white;
}
.card-edu,
mat-card-subtitle,
mat-list-item,
.list {
  color: white;
}
mat-tab-group {
  background-color: rgb(240, 233, 233);
}
mat-expansion-panel {
  background-color: rgb(247, 241, 241);
}
