.example-header-image {
  background-image: url("/assets/utypaslbyxwfuwhfdzxd.png");
  background-size: cover;
}
.display-1 {
  color: rgb(255, 183, 195);
  font-size: 3em;
  text-align: center;
}
mat-tab-group {
  color: rgb(255, 253, 253);
  width: 100%;
  box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.802);
}

.jumbotron {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.604);
  background: #444 url("/assets/coding.jpg");
  background-blend-mode: multiply;
  color: white;
  background-size: cover;
  font-weight: 300;
}
mat-card {
  background: rgb(113, 116, 113) url("/assets/cardBack.jpg");
  background-blend-mode: multiply;
  color: white;
}
.card-edu,
mat-card-subtitle,
mat-list-item,
.list {
  color: white;
}
