:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
mat-sidenav {
  min-width: 220px;
  width: 22%;
}
mat-sidenav-container {
  height: 100%;
}
mat-sidenav-content{
  padding: 20px;
  background: url('/assets/weather.jpg');
  background-size: cover;
}