:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
mat-sidenav {
  min-width: 220px;
  width: 22%;
}
mat-sidenav-container {
  height: 100%;
}
mat-sidenav-content {
  
  background: rgb(87, 86, 86) url("/assets/background.jpg");

  background: #4b79a1; 
  background: -webkit-linear-gradient(
    to right,
    #283e51,
    #4b79a1
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #283e51,
    #4b79a1
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: cover;
  // background-blend-mode: multiply;
}
