footer {
  padding: 5px;
  text-align: center;

  background: black url("/assets/footer.jpg");
  background-size: cover;
}
$font-family-ss: "Quattrocento Sans", sans-serif;
body {
  background: #000;
}

.btn {
  position: relative;
  top: 93%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  p {
    position: relative;
    width: 200px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    &::before {
      content: "";
      position: absolute;
      width: 3px;
      height: 3px;
      background: rgb(252, 252, 252);
    }
    &::after {
      content: "";
      position: absolute;
      width: 3px;
      height: 3px;
      background: rgb(253, 253, 253);
    }
    &::before {
      top: 19px;
      left: 0px;
      animation: frontBtnL 1s infinite linear;
    }
    &::after {
      bottom: 19px;
      right: 0px;
      animation: frontBtnR 1s infinite linear;
    }
    &:hover::before,
    &:hover::after {
      animation-play-state: running;
    }
    a {
      display: block;
      font-size: 12px;
      color: #fff;
      letter-spacing: 3px;
      font-family: $font-family-ss;
      text-decoration: none;
      transition: all 0.5s;
      &:hover {
        background: #0099F7;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #F11712, #0099F7);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #F11712, #0099F7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        

        background-clip: text;

        color: transparent;
      }
    }
  }
}

@keyframes frontBtnL {
  0% {
    top: 19px;
    left: 0px;
  }
  12% {
    top: 0px;
    left: 0px;
  }
  76% {
    top: 0px;
    left: 198px;
  }
  100% {
    top: 19px;
    left: 198px;
  }
}

@keyframes frontBtnR {
  0% {
    bottom: 19px;
    right: 0px;
  }
  12% {
    bottom: 0px;
    right: 0px;
  }
  76% {
    bottom: 0px;
    right: 198px;
  }
  100% {
    bottom: 19px;
    right: 198px;
  }
}
