<mat-toolbar [color]="values.value">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>

    <span>Portfolio</span>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li>
          <mat-slide-toggle
            [(ngModel)]="isDarkTheme"
            (click)="toggleDarkThemes()"
            (change)="storeThemeSelection()"
            name="first-name"
            labelPosition="before"
          >
            <mat-icon class="btna">dark_mode</mat-icon></mat-slide-toggle
          >
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
