<mat-toolbar [color]="values.value">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon >menu</mat-icon>
    </button>
 
    <span>Portfolio</span>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" style="padding-top: 5px;" >
      <ul fxLayout="row" fxLayoutGap="20px" >
        <!-- <li>
          <button mat-icon-button><mat-icon>settings</mat-icon></button>
        </li>
        <li>
          <button mat-icon-button><mat-icon>help_outline</mat-icon></button>
        </li> -->
        <li>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>settings</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="toggleColorDef()">
              <mat-icon>palette </mat-icon> Grey
            </button>
            <button mat-menu-item (click)="toggleColorPrimary()">
              <mat-icon>palette </mat-icon> Blue
            </button>
            <button mat-menu-item (click)="toggleColorAcc()">
              <mat-icon>palette </mat-icon> Pink
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
