
.container-fluid {
  align-self: center;
}
.ngb-carousel {
  border-radius: 2px;
}
.container {
  margin-top: 1%;
}

.img {
  object-fit: cover;
}
.container-fluid {
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.508) 2px 3px 3px 2px;
  margin-top: 2%;
  margin-bottom: 1%;
}

.mat-card-subtitle {
  font-family: "Times New Roman", Times, serif;
  font-weight: 300;
}

.display-1 {
  color: rgb(242, 54, 95);
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.mat-card-content {
  text-align: center;
}
.bg-img {
  background: rgb(128, 126, 126) url("/assets/Food.jpeg");
  background-size: cover;
  background-blend-mode: screen;
  box-shadow: rgba(0, 0, 0, 0.878) 2px 3px 3px 2px;
  color: rgb(24, 23, 23);
  z-index: -1;
}
