

<div class="container" style="padding-top: 3%">
  <div class="jumbotron" style="background-color: white; color: black">
    <div class="text-center display-1" style="color: black">Parth Kathuria</div>
    <h4 class="text-center" style="color: black; font-family: monospace">
      FullStack Web Developer(Java-Spring & Angular)
    </h4>
    <p class="text-justify text-center">
      A Web Developer keen to learn new technologies and constantly evolve in
      this ever-changing world of development.
    </p>
  </div>
</div>

<div class="container" style="padding-top: 3%">
  <mat-tab-group
    mat-stretch-tabs
    dynamicHeight
    color="primary"
    backgroundColor="accent"
  >
    <mat-tab>
      <ng-template mat-tab-label color="primary">
        <mat-icon class="example-tab-icon">lightbulb</mat-icon>
        Skills
      </ng-template>
      <mat-card class="cardedu">
        <mat-card-header>
          <div mat-card-avatar><mat-icon matSuffix>handyman</mat-icon></div>
          <mat-card-title>Acquired Skills</mat-card-title>
          <mat-card-subtitle>Software and Framworks</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>Front End Development</mat-panel-title>
                <mat-panel-description>
                 <mat-icon>keyboard_arrow_down</mat-icon> Framework and tools
                </mat-panel-description>
              </mat-expansion-panel-header>
              <br />
              <div class="row">
                <div mat-card-avatar><mat-icon matSuffix>build</mat-icon></div>
                HTML
                <mat-progress-bar mode="buffer" value="90"></mat-progress-bar>
              </div>
              <br />
              <div class="row">
                <div mat-card-avatar><mat-icon matSuffix>build</mat-icon></div>
                CSS
                <mat-progress-bar mode="buffer" value="85"></mat-progress-bar>
              </div>
              <br />
              <div class="row">
                <div mat-card-avatar><mat-icon matSuffix>build</mat-icon></div>
                ANGULAR 8 & 10.2
                <mat-progress-bar mode="buffer" value="78"></mat-progress-bar>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>Back End Development</mat-panel-title>
                <mat-panel-description>
                  <mat-icon>keyboard_arrow_down</mat-icon> Framework and tools
                </mat-panel-description>
              </mat-expansion-panel-header>
              <br />
              <div class="row">
                <div mat-card-avatar><mat-icon matSuffix>build</mat-icon></div>
                Java
                <mat-progress-bar mode="buffer" value="80"></mat-progress-bar>
              </div>
              <br />
              <div class="row">
                <div mat-card-avatar><mat-icon matSuffix>build</mat-icon></div>
                SpringBoot, SpringData
                <mat-progress-bar mode="buffer" value="90"></mat-progress-bar>
              </div>
              <br />
              <div class="row">
                <div mat-card-avatar><mat-icon matSuffix>build</mat-icon></div>
                RestfulAPIs, JUnit, Mockito, Microservices
                <mat-progress-bar mode="buffer" value="90"></mat-progress-bar>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>Miscellaneous <mat-icon>keyboard_arrow_down</mat-icon></mat-panel-title>
              </mat-expansion-panel-header>
              <br />
              <div class="row">
                <div mat-card-avatar><mat-icon matSuffix>build</mat-icon></div>
                Github
                <mat-progress-bar mode="buffer" value="80"></mat-progress-bar>
              </div>
              <br />
              <div class="row">
                <div mat-card-avatar><mat-icon matSuffix>build</mat-icon></div>
                Jenkins & Apache Maven
                <mat-progress-bar mode="buffer" value="90"></mat-progress-bar>
              </div>
              <br />
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label color="primary">
        <mat-icon class="example-tab-icon">work_outline</mat-icon>
        Work Experience
      </ng-template>
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Systems Engineer</mat-card-title>
          <mat-card-subtitle>Infosys LTD.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <div mat-header>
              <h3>Full Stack Web Development using Java-Spring & Angular.</h3>
            </div>
            <mat-list-item>
              <mat-icon mat-list-icon>notes</mat-icon>
              Implementing Service layer using SpringBoot.
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>notes</mat-icon>
              Implementing Persistence Layer using Spring Data
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>notes</mat-icon>
              RestAPI using SpringRest
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>notes</mat-icon>
              Presentation layer using TypeScript, HTML5, CSS and Angular.
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>notes</mat-icon>
              DevOps using Jenkins, Maven, SonarQube,Git and Azure Deployment.
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>notes</mat-icon>
              <b>Placed in HPF with overall grade as 90.</b>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab
      ><ng-template mat-tab-label color="primary">
        <mat-icon class="example-tab-icon">school</mat-icon>
        Education
      </ng-template>
      <mat-card class="cardedu">
        <mat-card-header>
          <div mat-card-avatar><mat-icon matSuffix>handyman</mat-icon></div>
          <mat-card-title>Education</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>Indraprastha University</mat-panel-title>
                <mat-panel-description>
                  B.Tech <mat-icon>keyboard_arrow_down</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="row">
                <div mat-card-avatar><mat-icon matSuffix>build</mat-icon></div>
                Mechanical & Automation Engineering 
              </div>
              <p>Percentage : 81.1%</p>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
