
.example-header-image {
  background-image: url("/assets/utypaslbyxwfuwhfdzxd.png");
  background-size: cover;
}
.mat-tab{
    background-color: rgb(163, 144, 144);
}
.mat-tab-group{
    background-color: transparent;
    color: black;
    width: 100%;
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.207);
}
.jumbotron{
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.207);
}
.cardedu{
  background-color: transparent;
  color: black;
}